<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="screen-orientation" content="portrait">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/public.css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/app.css" />
		<!--barcode.html的css-->
		<link rel="stylesheet" href="../css/barcode.css" />
		<script src="../js/base.fontsize.js"></script>
		<script type="text/javascript" src="../js/global.js"></script>
		<script type="text/javascript" src="../js/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>

		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/code.js"></script>
		<title>二维码</title>
		<style>

		</style>
	</head>

	<body onload="img=document.getElementById('bimg');">

		<div class="mui-content" >

			<!--<button id="startScan" class="mui-btn mui-btn-success">开始扫描</button>
			<button id="cancelScan" class="mui-btn mui-btn-success">取消扫描</button>
			<button id="setFlash" class="mui-btn mui-btn-success">开启/关闭闪光灯</button>-->
			<div id="bcid"></div>

			<!--<div id="code_content"></div>-->
			</div>
	</body>
	<!--<script src="../js/barcode.js"></script>-->
	<script type="text/javascript" src="../js/immersed.js"></script>

</html>
<script type="text/javascript">
	mui.init({
		//监听Android手机的back、menu按键
		keyEventBind: {
			backbutton: false, //Boolean(默认true)关闭back按键监听
			menubutton: false //Boolean(默认true)关闭menu按键监听
		},
	})
</script>