/**
 * Created by xiuxia on 2016/9/31.
 */
@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

/*Clear border*/
html, body, img {
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

li:focus {
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.big_all_div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus, *:active {
    outline: none;
    -moz-outline: none;
    outline-style: none;
    -moz-outline-style: none;
    -webkit-outline: none;
    -webkit-outline-style: none;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: square-button;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}

input[type="text"],
input[type="password"] {
    background-color: transparent;
    border: none;
    -webkit-appearance:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}
:-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar {
    width: 0
}

button {
    border: none
}

ul, ol {
    list-style: none
}

b, em, i {
    font-style: normal
}

a {
    text-decoration: none
}

b {
    font-weight: normal;
}

/*body*/
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: url("../img/bg.jpg") no-repeat;*/
    background-size: cover;
    color:rgba(255,255,255,0.8);
    font-family: '微软雅黑';
    
}
.ovfHiden{overflow: hidden;}
/*login*/
.person_infi {
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    text-indent: 0.1rem;
    color: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.closeSm{
    color: rgba(255,255,255,0.7);
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.comPuter{
    width: 40%;
    display: block;
    margin: 0.5rem auto 0;
}
.mainLogin #sureLogin{
    position: absolute;
    width:40%;
    left: 30%;
    padding: 0.3rem 0;
    bottom: 5rem;
    font-size: 0.7rem;
    color: rgba(255,255,255,0.5);
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 10px;
}

.login_out {
    position: absolute;
    width: 40%;
    left: 40%;
    bottom: 2rem;
    font-size: 0.7rem;
    color: rgba(255,255,255,0.5);
    background-color: transparent;
}

.txtLogin{
    font-size: 0.7rem;
    text-align: center;
    padding: 0.2rem 0;
    color: rgba(255,255,255,0.5);
}
.txtMsg{
    height: 1rem;
    margin-top: -0.5rem;
    position: absolute;
    display: none;
    background-color: #fff;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    z-index: 100;
    border-radius: 5px;
}
.warn_p{
    font-size: 0.15rem;
    height: 0.2rem;
    line-height: 0.3rem;
    color: #50524B;
}
.txtP{
    font-size: 0.2rem;
    height: 0.4rem;
    line-height: 0.5rem;
    color: #50524B;
}
.prompt{
    width: 100%;
    left: 0;
    font-family: '微软雅黑';
    position: absolute;
    background-color: transparent;
    color: #0F80FB;
    font-weight: 700;
    border-top: 1px solid rgba(221, 221, 221, 1) !important;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.2rem;
}

/*end  login*/





























